<nav class="navbar">
  <a routerLink="/">
    <img src="../../assets/img/impact-logo.png" alt="" />
  </a>

  <ul>
    <li>
      <a routerLink="/information" routerLinkActive="router-link-active"
        ><i class="fas fa-info"></i
      ></a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="router-link-active"
        ><i class="fas fa-users"></i
      ></a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="router-link-active"
        ><i class="fas fa-mobile-alt"></i
      ></a>
    </li>
  </ul>
</nav>
