@import "src/scss/config";

.information__videos {
  justify-content: space-evenly;
}

.card {
  width: 18rem;

  .card-body {
    .btn-video-submit {
      margin-top: 1em;
      font-size: 1em;
    }
  }
}
