<div class="row">
  <h2 class="title-page">what we do</h2>
  <p>
    We help investors achieve financial freedom through investing in apartment
    housing. Investing in apartment housing helps communities and the people
    living there.
  </p>
</div>
<div class="row">
  <p>Take a look at our videos for more information.</p>
</div>
<div class="row information__videos">
  <app-information-item
    *ngFor="let videoEl of videos; let i = index"
    [video]="videoEl"
    [index]="i"
  ></app-information-item>
</div>
