<div class="row">
  <h2 class="title-page">contact us</h2>
  <div class="col-md-6">
    <h5>Would you like to...</h5>
    <ul>
      <li>
        <h5>learn how you can invest in aparments to make residual income?</h5>
      </li>
      <li>
        <h5>
          learn more about a more stable investment than the stock market?
        </h5>
      </li>
      <li>
        <h5>
          help communities grow and propser, giving people a great place to
          live?
        </h5>
      </li>
    </ul>
  </div>
  <div class="col-md-6 text-center">
    <h2>Contact us today!</h2>
    <div class="contact-icons">
      <div>
        <a href="" target="_blank"><i class="fas fa-phone"></i></a>
      </div>
      <div>
        <a href="" target="_blank"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <button class="btn btn-primary">Learn More</button>
  </div>
</div>
