@import "src/scss/config";

ul {
  margin-bottom: 30px;

  li {
    padding-left: 20px;
  }
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 100px;
    height: 100px;
    background-color: $secondary-color;
    border-radius: 50%;

    a {
      color: $primary-color;
    }
  }
}
