@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");
$font-stack: "Roboto Slab", seriff;
$primary-font-weight: 600;
$secondary-font-weight: 500;
$dark-blue-color: #233d89;
$light-blue-color: #6d9eeb;
$tan-color: #f8f1c9;
